$light-gray: #eceeee;
$gutter: 25px;
$purple: #8e6e95;
$green: 39a59c;
$navy: #344759;
$orange: #e8741e;
$board-height: 30px;

.kanban {
    padding: $gutter;
    background: $light-gray;
}

.boards {
    display: flex;
    flex-wrap: wrap;
    .board {
        flex: 1 1 calc(100%/4 - #{$gutter}*3);  
        padding-right: $gutter;
        background: #fff;
        &:last-child {
            padding-right: 0;
        }
    }
    .board-title {
        height: $board-height;
        text-align: center;
    }
}

// #Winnie {
//     .board-title: $purple;
// }
// #Winnie {
//     .board-title: $purple;
// }